<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>login form</title>
	<style>
		form
		{
			border: 2px solid black;
			width: 1000px;
			margin: 10px 200px;
		}
	     table
		{
          border:2px thin black;
		}
		#bc
		{
          margin: 5px;
		}
		#abc
		{
         border: none;
         width: 600px;
         border-bottom: 2px solid black;
		}
		#ab
		{
			border: none;
			width: 300;
			border-bottom: 2px solid black;
		}
	</style>
</head>
<body>
		<form>
		    <u><h2 align="center">General Details(FILL THIS FORM IN UPPERCASE ONLY)</h2></u>
		    <table>
		    	<tr>
		    <td><label>Full Name:</label></td>
		   <td> <input id="abc" type="text" name="name here"><br></td>
		        </tr>
		   <tr>
		   <td> <label>Gender:</label></td>
		    <td><input type="checkbox" name="ab">Male
		    <input type="checkbox" name="ab">Female</td>
		</tr>
		<tr>
			<td><label>Datr Of Birth:</label></td>
			<td><input type="text" name="date" >(dd-mm-yyyy)</td>
		</tr>
		<tr>
			<td><label>Mobile No:</label></td>
			<td><input type="text" name="number"></td>
		</tr>
		<tr>
			<td><label>Mobile No:(Repeat)</label></td>
			<td><input type="text" name="number"></td>
		</tr>
		  <tr>
			<td><label>Email Id:</label></td>
			<td><input id="abc" type="text" name="number"></td>
		</tr> 
		<tr>
			<td><label>Emaile Id:(Repeat)</label></td>
			<td><input id="abc" type="text" name="number"></td>
		</tr> 
        </table>
	</form>
	<u><h2 align="center">Educational Details</h2></u>
	<form>
		<table id="bc">
			<tr>
				<td>
					10<sup>th</sup>.....SSLC(state board)
					<input type="checkbox" name="">
					CBSC<input type="checkbox" name="">
					ICSE<input type="checkbox" name="">
					IGCSE<input type="checkbox" name="">
				</td></tr><tr>
				<td>
					year of pass out:<input id="ab" type="textbox" name="">
					Aggregate%:<input id="ab" type="textbox" name="">
				</td></tr>
				
			</tr>
			<table border="2px" cellspacing="0px" width="1000px">
				<tr>
					<u><td>PUC/12<sup>th</sup>:</td></u>
					<td><u>Diploma:</u>Regular <input type="checkbox" name=""> Correspodence<input type="checkbox" name=""></td>
				</tr>
				<tr>
					<td>Aggregate%:</td>
					<td>Aggregate%(all sem):</td>
				</tr>
				<tr>
					<td>year of pass out</td>
					<td>year of pass out</td>
				</tr>
				<tr>
					<td>college name</td>
					<td>college name</td>
				</tr>
				<tr>
					<td colspan="2">Diploma,Csc
						<input type="checkbox" name="">
						IT<input type="checkbox" name="">
						EEE<input type="checkbox" name="">
						EC<input type="checkbox" name="">
						Mech<input type="checkbox" name="">
						Civil<input type="checkbox" name="">
						others:<input id="ab" type="textbox" name="">
					</td>
				</tr>

			</table>
			If ITI,IIT Year of pass out<input id="ab" type="textbox" name=""> %:<input id="ab" type="textbox" name="">
		</table>
	</form>
	<h2 align="center"><u>Diploma :</u>Regular<input type="checkbox" name="">Correspondence<input type="checkbox" name=""></h2>
		<form>
			<table>
				<tr>
					<td>Degree:BE<input type="checkbox" name="">M.tech<input type="checkbox" name="">
						B.sc<input type="checkbox" name="">BCA<input type="checkbox" name="">
						B.com<input type="checkbox" name="">BBM<input type="checkbox" name="">
					BA<input type="checkbox" name="">C.sc<input type="checkbox" name="">IT<input type="checkbox" name="">Inf.sc<input type="checkbox" name="">Electrical<input type="checkbox" name="">EC<input type="checkbox" name="">Mech<input type="checkbox" name="">Civil<input type="checkbox" name="">AE<input type="checkbox" name="">Bio-Med<input type="checkbox" name="">Bio-tech<input type="checkbox" name="">chemical<input type="checkbox" name="">Envi<input type="checkbox" name="">Telecom<input type="checkbox" name="">Instrumentation<input type="checkbox" name=""></td>
				</tr>
				<tr>
					<td>others:<input id="ab" type="textbox" name="">YOP:<input id="ab" type="textbox" name="">Persentage(1 to 8 sem):<input id="ab" type="textbox" name="">University:<input id="ab" type="textbox" name="">
						University Roll(USN) No:<input id="ab" type="textbox" name="">College Name:<input id="ab" type="textbox" name="">Place:<input id="ab" type="textbox" name=""><br>
						Did you Fail and then clear the subject in degree-YES<input type="checkbox" name="">NO<input  type="checkbox" name=""><br>
						Have any existing backlogs-YES<input type="checkbox" name="">NO<input type="checkbox" name="">Got year gap in degree YES<input type="checkbox" name="">NO<input type="checkbox" name=""></td>
					
				</tr>
			</table>

		</form>
		<table align="center"><tr>
			<td><h2 align="center"><u>Master degree or post graduation:</u></h2></td><td>Regular<input type="checkbox" name=""></td><td>correspondence<input type="checkbox" name=""></td></tr></table>
			<form>
				<table>
				<tr>
					<td>M.tech<input type="checkbox" name="">
						MCA<input type="checkbox" name="">
						M.sc<input type="checkbox" name="">MBA<input type="checkbox" name="">
					MS<input type="checkbox" name=""><br>Stream:C.sc<input type="checkbox" name="">IT<input type="checkbox" name="">Is<input type="checkbox" name="">EEE<input type="checkbox" name="">EC<input type="checkbox" name="">Mech<input type="checkbox" name="">Civil<input type="checkbox" name="">others:<input id="ab" type="textbox" name=""></td>
				</tr>
				<tr>
					<td>others:<input id="ab" type="textbox" name="">YOP:<input id="ab" type="textbox" name="">Persentage(1 to 8 sem):<input id="ab" type="textbox" name="">University:<input id="ab" type="textbox" name="">
						University Roll(USN) No:<input id="ab" type="textbox" name="">College Name:<input id="ab" type="textbox" name="">Place:<input id="ab" type="textbox" name=""><br>
						Did you Fail and then clear the subject in degree-YES<input type="checkbox" name="">NO<input  type="checkbox" name=""><br>
						Have any existing backlogs-YES<input type="checkbox" name="">NO<input type="checkbox" name="">Got year gap in degree YES<input type="checkbox" name="">NO<input type="checkbox" name=""></td>
					
				</tr>
			</table>
				
			</form>
			<form>
				Certification:<input id="ab" type="textbox" name="">(Only International certified s/w certification)<br>
				Read to relocate to work-YES<input type="checkbox" name="">NO<input type="checkbox" name=""><br>
				If yes,preferred location:<input type="checkbox" name="">Bengaluru<input type="checkbox" name="">Chennai<input type="checkbox" name="">Hyderabad<input type="checkbox" name="">Kerala<input type="checkbox" name="">Pune<input type="checkbox" name="">Mumbai<input type="checkbox" name="">Delhi<input type="checkbox" name="">Gandhinagar <br>others:<input id="ab" type="textbox" name=""><br>
				Do you have passport?<input type="checkbox" name="">YES<input type="checkbox" name="">NO<br>
				Do you have pan card?<input type="checkbox" name="">YES<input type="checkbox" name="">NO<br>
				Do you have Adhar card?<input type="checkbox" name="">YES<input type="checkbox" name="">NO<br>
				Adharcard No:<input id="ab" type="textbox" name="">
			</form>
			<u><h4 align="center">Address:</h4></u>
			<form>
				Father/Husband's Name:<input id="ab" type="textbox" name=""><br>
				House No:<input id="ab" type="textbox" name=""><br>
				sreet No:<input id="ab" type="textbox" name=""><br>
				Area Name:<input id="ab" type="textbox" name=""><br>
				Pin Code:<input id="ab" type="textbox" name=""><br>
				City:<input id="ab" type="textbox" name=""><br>
				State:<input id="ab" type="textbox" name="">
			</form>
		


</body>
</html>